body,input {
    font-family: Verdana, sans-serif;
}

div.dbsdmCanvas {
    width:80%;height:800px;border:1px solid red;margin:50px;
    font-size: 1em;
}
div.dbsdmCanvas > svg {
    width:100%;height:100%;border:1px solid blue;
    pointer-events: all;
    font-size:15px;
}

use.e-cp-nw { cursor: nwse-resize; }
use.e-cp-n  { cursor: ns-resize; }
use.e-cp-ne { cursor: nesw-resize; }
use.e-cp-e  { cursor: ew-resize; }
use.e-cp-se { cursor: nwse-resize; }
use.e-cp-s  { cursor: ns-resize; }
use.e-cp-sw { cursor: nesw-resize; }
use.e-cp-w  { cursor: ew-resize; }

input.editableSvgText {
    position:absolute;
    font-size:0.8em;
    padding:3px 2px;
    margin:-2px 0 0 -3px;
    border:1px solid black;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.75);
    height:auto;
    box-sizing:content-box;
}

/** MENU */
#dbsdmContextMenu {
    position:absolute;
    top:40px;
    left:40px;
    display:none;
}

/** menu and submenu boxes */
#dbsdmContextMenu, #dbsdmContextMenu li > ul {
    overflow:visible;
    background-color: #f0f0f0;
    border: 1px solid #f5f5f5;
    box-shadow:
            0 0 0 1px #979797,
            4px 4px 3px #8e8e8e;
}

/** separators */
#dbsdmContextMenu ul + ul {
    border-top: 1px solid #e0e0e0;
}
#dbsdmContextMenu ul:not(:last-of-type) {
    border-bottom: 1px solid white;
}

/** items */
#dbsdmContextMenu ul li {
    font-size:0.75rem;
    position:relative;
    line-height:16px;
    white-space: nowrap;
    padding: 3px 30px 3px 10px;
    border:1px solid transparent;
    border-radius:3px;
}
#dbsdmContextMenu ul li:hover {
    background: linear-gradient(#f1f1f1, #e2e3e3);
    border-color:#979797;
}
#dbsdmContextMenu ul li[data-action]:hover {
    cursor:pointer;
}

#dbsdmContextMenu ul li i {
    line-height:16px;
    color: #282828;
}
#dbsdmContextMenu li > i.fa-caret-right {
    position:absolute;
    right:6px;
}

#dbsdmContextMenu div.icon {
    display:inline-block;
    font-size:15px;
    width:1.3em;
}

#dbsdmContextMenu li ul {
    position:absolute;
    left:99%;
    top:-2px;
    z-index:1000;
    float:left;
    display:none;
}
#dbsdmContextMenu li:hover > ul {
    display:block;
}


/** turn off text selectino */
div.dbsdmCanvas > svg, #dbsdmContextMenu {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

/** ENTITY */
text.entity-name {
    fill: blue;
    font-size: 0.75em;
}

/** ATTRIBUTE */
svg.attr {
    cursor: grab;
    cursor: -webkit-grab;
}
svg.attr.dragged, svg.attr.dragged * {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

svg.attr text {
    font-size: 0.65em;
    dominant-baseline: central;
    cursor: text;
}
tspan.attr-index, tspan.attr-nullable {
    font-size: 1.2em;
    font-family: "Courier New", monospace;
    cursor: grab;
}
tspan.attr-index {
    fill: blue;
}
tspan.attr-nullable {
    fill: red;
}

use.attr-bg { visibility: hidden; }
svg.attr:hover use.attr-bg { visibility: visible; }

/** RELATION */
g.rel text { font-size: 0.65em; }

g.rel       use.middle { display:none; }
g.rel:hover use.middle { display:block; }

g.leg polyline, g.leg use, g.leg g { pointer-events: none; }
g.leg.attached use.anchor    { pointer-events: all; }
g.leg.attached use.cp        { pointer-events: visible; }
g.leg.attached polyline.line { pointer-events: stroke; }

g.leg       use.cp { display:none; }
g.leg:hover use.cp { display:block; }

g.leg:hover polyline.line {
    stroke: #ede8eb;
}

use.cp, use.anchor { cursor:move; }




/*svg.attr rect {display:none;}
svg.attr:hover rect {display:block;}*/



/*polyline:hover {stroke:red;}*/
/*.relg:hover polyline{stroke:red;}*/


/*
.rsz {display:none;}
svg:hover > .rsz {display: block;}

.option { text-decoration: underline; cursor:pointer; }
.option:hover { fill: red; }

.anchor { visibility:hidden; }


.hidden { display:none; }
*/
/*g.relation .cp { visibility: hidden; }
g.relation.over .cp { visibility: visible; }*/
