body {
    font-family: Verdana, sans-serif;
}

input.editableSvgText {
    position:absolute;
    font-size:13px;
    padding:0 2px;
    margin:0;
    border:1px solid black;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.75);
}
text {
    font-size:13px;
}

svg {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

    pointer-events: all;
}

.rsz-tl { pointer-events: all; cursor:nw-resize; }
.rsz-tr { pointer-events: all; cursor:ne-resize; }
.rsz-bl { pointer-events: all; cursor:sw-resize; }
.rsz-br { pointer-events: all; cursor:se-resize; }

.rsz {display:none;}
svg:hover > .rsz {display: block;}

.option { text-decoration: underline; cursor:pointer; }
.option:hover { fill: red; }

.anchor { visibility:hidden; }


.hidden { display:none; }
